@page "/menus"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineShopBlazor.Models.Db
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineShopBlazor.Models.Db.OnLineShopContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="menus/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Menus">
    <PropertyColumn Property="menu => menu.MenuTitle" />
    <PropertyColumn Property="menu => menu.Link" />
    <PropertyColumn Property="menu => menu.Type" />

    <TemplateColumn Context="menu">
        <a href="@($"menus/edit?id={menu.Id}")">Edit</a> |
        <a href="@($"menus/details?id={menu.Id}")">Details</a> |
        <a href="@($"menus/delete?id={menu.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private OnLineShopContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
