@page "/banners/create"
@using Microsoft.EntityFrameworkCore
@using OnlineShopBlazor.Models.Db
@inject IDbContextFactory<OnlineShopBlazor.Models.Db.OnLineShopContext> DbFactory
@inject IWebHostEnvironment Environment
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Banner</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Banner" OnValidSubmit="AddBanner" enctype="multipart/form-data">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <InputTextArea id="title" @bind-Value="Banner.Title" class="form-control" rows="4" />
                <ValidationMessage For="() => Banner.Title" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="subtitle" class="form-label">SubTitle:</label>
                <InputTextArea id="subtitle" @bind-Value="Banner.SubTitle" class="form-control" rows="4" />
                <ValidationMessage For="() => Banner.SubTitle" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="imagename" class="form-label">ImageName:</label>
                <InputFile id="imagename" class="form-control" OnChange="LoadFiles" />
                @* <ValidationMessage For="() => Banner.ImageName" class="text-danger" /> *@
            </div>
            <div class="mb-3">
                <label for="priority" class="form-label">Priority:</label>
                <InputNumber id="priority" @bind-Value="Banner.Priority" class="form-control" />
                <ValidationMessage For="() => Banner.Priority" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="link" class="form-label">Link:</label>
                <InputText id="link" @bind-Value="Banner.Link" class="form-control" />
                <ValidationMessage For="() => Banner.Link" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="position" class="form-label">Position:</label>
                <InputSelect id="position" @bind-Value="Banner.Position" class="form-control">
                    <option>Select...</option>
                    <option value="Slider">Slider</option>
                    <option value="Banner1">Banner 1</option>
                    <option value="Banner2">Banner 2</option>
                </InputSelect>
                <ValidationMessage For="() => Banner.Position" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/banners">Back to List</a>
</div>

@code {
    private Banner Banner { get; set; } = new();
    private IBrowserFile? selectedFile;
    private string? selectedFileName;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        // Salva il file in memoria, ma non su disco
        selectedFile = e.File;
        if (selectedFile != null)
        {
            var extension = Path.GetExtension(selectedFile.Name);
            selectedFileName = $"{Guid.NewGuid()}{extension}";
        }
    }

    // To protect from overposting attacks, see
    // https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBanner()
    {
        // Salva il file su disco solo se il form è valido e viene sottomesso
        if (selectedFile != null && !string.IsNullOrEmpty(selectedFileName))
        {
            var path = Path.Combine(Environment.WebRootPath, "images", "banners", selectedFileName);

            // Assicurati che la directory esista
            var directory = Path.GetDirectoryName(path);
            if (!Directory.Exists(directory))
            {
                Directory.CreateDirectory(directory!);
            }

            await using FileStream fs = new(path, FileMode.Create);
            await selectedFile.OpenReadStream(maxAllowedSize: 1024 * 1024 * 5).CopyToAsync(fs);
            Banner.ImageName = selectedFileName;
        }

        using var context = DbFactory.CreateDbContext();
        context.Banners.Add(Banner);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/banners");
    }
}