<form class="border-bottom" action="#">
    <input class="border-0" placeholder="Search products..." type="text">
    <button type="submit"><span class="icon-magnifier icons"></span></button>
</form>

@code {
}