@page "/productgalleries/create"
@using Microsoft.EntityFrameworkCore
@using OnlineShopBlazor.Models.Db
@inject IDbContextFactory<OnlineShopBlazor.Models.Db.OnLineShopContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>ProductGallery</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="ProductGallery" OnValidSubmit="AddProductGallery" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="productid" class="form-label">ProductId:</label> 
                <InputNumber id="productid" @bind-Value="ProductGallery.ProductId" class="form-control" /> 
                <ValidationMessage For="() => ProductGallery.ProductId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="imagename" class="form-label">ImageName:</label> 
                <InputText id="imagename" @bind-Value="ProductGallery.ImageName" class="form-control" /> 
                <ValidationMessage For="() => ProductGallery.ImageName" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/productgalleries">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private ProductGallery ProductGallery { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddProductGallery()
    {
        using var context = DbFactory.CreateDbContext();
        context.ProductGalleries.Add(ProductGallery);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/productgalleries");
    }
}
